<h2>Offers</h2>
<mat-accordion>
  <mat-expansion-panel *ngFor="let offer of offers">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ offer.description }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="pt-2">
      <mat-form-field appearance="outline" class="me-2" style="width: 400px" *ngFor="let param of offer.parameters">
        <mat-label>{{ param.title }}</mat-label>
        <input matInput [type]="param.type" [(ngModel)]="param.value">
      </mat-form-field>
    </div>
    <mat-progress-bar *ngIf="processing" mode="indeterminate" class="mb-3"></mat-progress-bar>
    <button mat-raised-button color="accent" (click)="executeOffer(offer)" [disabled]="processing">Execute</button>
  </mat-expansion-panel>
</mat-accordion>
